<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="repFileExterne" value="C:\Users\balir\source\ImagesVoiture" />
		<add key="AnneeMin" value="1900" />
	</appSettings>
<connectionStrings><add name="EFVoiture" connectionString="data source=DESKTOP-ED90DPJ\SQLEXPRESS;initial catalog=WpfAppGarage.ViewModel.EFVoiture;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>